In [1]:
import pandas as pd

In [16]:
data = pd.read_csv("C:/Users/frobi/OneDrive/Documents/GitHub/dec23_cds_co2/data/raw/data.csv")

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\4073366774.py:1: DtypeWarning: Columns (3,8,10,12,28,35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:/Users/frobi/OneDrive/Documents/GitHub/dec23_cds_co2/data/raw/data.csv")

In [17]:
data.head()

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,77074136,FR,IP-07A1A1E024A_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,NaN,e2*2007/46*0457*23,AH,2BV2,...,NaN,NaN,NaN,NaN,NaN,F,2022,2022-05-16,NaN,188.0
1,77074137,FR,IP-07A1A1E024A_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,NaN,e2*2007/46*0457*22,AH,2BV2,...,NaN,NaN,NaN,NaN,NaN,F,2022,2022-03-24,NaN,188.0
2,77074138,FR,IP-07A1A1E024A_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,NaN,e2*2007/46*0457*22,AH,2BV2,...,NaN,NaN,NaN,NaN,NaN,F,2022,2022-03-17,NaN,188.0
3,77074139,FR,IP-07A1A1E024A_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,NaN,e2*2007/46*0457*22,AH,2BV2,...,NaN,NaN,NaN,NaN,NaN,F,2022,2022-03-17,NaN,188.0
4,77074140,FR,IP-07A1A1E024A_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,NaN,e2*2007/46*0457*23,AH,2BV2,...,NaN,NaN,NaN,NaN,NaN,F,2022,2022-05-18,NaN,188.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9479544 entries, 0 to 9479543
Data columns (total 38 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Country               object
 2   VFN                   object
 3   Mp                    object
 4   Mh                    object
 5   Man                   object
 6   MMS                   float64
 7   Tan                   object
 8   T                     object
 9   Va                    object
 10  Ve                    object
 11  Mk                    object
 12  Cn                    object
 13  Ct                    object
 14  Cr                    object
 15  r                     int64
 16  m (kg)                float64
 17  Mt                    float64
 18  Enedc (g/km)          float64
 19  Ewltp (g/km)          float64
 20  W (mm)                float64
 21  At1 (mm)              float64
 22  At2 (mm)              float64
 23  Ft                    object
 24  Fm                    object
 25  ec (cm3)              float64
 26  ep (KW)               float64
 27  z (Wh/km)             float64
 28  IT                    object
 29  Ernedc (g/km)         float64
 30  Erwltp (g/km)         float64
 31  De                    float64
 32  Vf                    float64
 33  Status                object
 34  year                  int64
 35  Date of registration  object
 36  Fuel consumption      float64
 37  Electric range (km)   float64
dtypes: float64(17), int64(3), object(18)
memory usage: 2.7+ GB

In [7]:
data.describe()

,ID,MMS,r,m (kg),Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),ec (cm3),ep (KW),z (Wh/km),Ernedc (g/km),Erwltp (g/km),De,Vf,year,Fuel consumption,Electric range (km)
count,9.479544e+06,0.0,9479544.0,9.479417e+06,9.310777e+06,1.624377e+06,9.471133e+06,9.437945e+06,9.328089e+06,9.301499e+06,8.201687e+06,9.350359e+06,2.139360e+06,0.0,6.204749e+06,0.0,0.0,9479544.0,8.082290e+06,1.922242e+06
mean,7.987085e+07,NaN,1.0,1.526647e+03,1.642249e+03,7.675505e+00,1.082588e+02,2.670078e+03,1.554120e+03,1.555568e+03,1.544103e+03,1.093351e+02,1.730331e+02,NaN,1.495845e+00,NaN,NaN,2022.0,5.337599e+00,2.450643e+02
std,3.959084e+06,NaN,0.0,3.522932e+02,3.688740e+02,1.503173e+01,5.827702e+01,1.683242e+02,5.811227e+01,6.265969e+01,5.186681e+02,5.623827e+01,3.119738e+01,NaN,4.951343e-01,NaN,NaN,0.0,1.806688e+00,1.854142e+02
min,1.000000e+00,NaN,1.0,5.700000e+02,6.150000e+02,0.000000e+00,0.000000e+00,6.000000e+02,5.700000e+02,5.700000e+02,6.540000e+02,5.000000e+00,1.000000e+01,NaN,5.000000e-01,NaN,NaN,2022.0,5.000000e-01,1.300000e+01
25%,7.725408e+07,NaN,1.0,1.262000e+03,1.371000e+03,0.000000e+00,1.020000e+02,2.570000e+03,1.520000e+03,1.520000e+03,1.197000e+03,7.400000e+01,1.540000e+02,NaN,1.050000e+00,NaN,NaN,2022.0,4.800000e+00,6.200000e+01
50%,8.004128e+07,NaN,1.0,1.455000e+03,1.572000e+03,0.000000e+00,1.230000e+02,2.665000e+03,1.559000e+03,1.558000e+03,1.498000e+03,9.600000e+01,1.660000e+02,NaN,1.580000e+00,NaN,NaN,2022.0,5.400000e+00,2.300000e+02
75%,8.328886e+07,NaN,1.0,1.735000e+03,1.859000e+03,0.000000e+00,1.400000e+02,2.730000e+03,1.591000e+03,1.595000e+03,1.968000e+03,1.250000e+02,1.840000e+02,NaN,1.950000e+00,NaN,NaN,2022.0,6.200000e+00,4.210000e+02
max,8.600022e+07,NaN,1.0,4.600000e+03,4.711000e+03,4.900000e+01,7.300000e+02,5.405000e+03,2.972000e+03,2.972000e+03,7.993000e+03,1.177000e+03,5.260000e+02,NaN,2.720000e+00,NaN,NaN,2022.0,2.520000e+01,7.990000e+02

In [5]:
data.columns

Index(['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va',
       'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Enedc (g/km)',
       'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)',
       'Erwltp (g/km)', 'De', 'Vf', 'Status', 'year', 'Date of registration',
       'Fuel consumption ', 'Electric range (km)'],
      dtype='object')

In [38]:
data.shape

(9479544, 38)

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

In [5]:
data['Ft'].unique()

array(['petrol', 'electric', 'diesel', 'lpg', 'petrol/electric',
       'diesel/electric', 'ng', 'e85', 'hydrogen', 'unknown'],
      dtype=object)

In [18]:
#Suppression electric, hydrogen et unknown
data = data.loc[(data['Ft']=='petrol') | (data['Ft']=='diesel') | (data['Ft']=='lpg') | (data['Ft']=='petrol/electric') | (data['Ft']=='diesel/electric') | (data['Ft']=='ng') | (data['Ft']=='e85')]

In [19]:
data['Ft'].unique()

array(['petrol', 'diesel', 'lpg', 'petrol/electric', 'diesel/electric',
       'ng', 'e85'], dtype=object)

In [11]:
data['Country'].unique()

array(['FR', 'IE', 'SE', 'GR', 'NL', 'DE', 'PT', 'IS', 'MT', 'PL', 'FI',
       'LT', 'CZ', 'EE', 'LV', 'LU', 'IT', 'RO', 'HU', 'NO', 'SI', 'ES',
       'AT', 'BE', 'SK', 'BG', 'HR', 'CY', 'DK'], dtype=object)

In [20]:
data =  data.loc[(data['Country']=='FR') | (data['Country']=='DE')]

In [13]:
data['Country'].unique()

array(['FR', 'DE'], dtype=object)

In [21]:
data.shape
#(3528584, 38)

(3528584, 38)

In [22]:
to_drop=['MMS', 'Ernedc (g/km)', 'De', 'Vf', 'Enedc (g/km)', 'year', 'r', 'Man']
data = data.drop(to_drop, axis=1)

In [23]:
to_drop=['Date of registration', 'Status', 'T', 'Va', 'Ve', 'VFN']
data = data.drop(to_drop, axis=1)

In [24]:
to_drop=['ID', 'Electric range (km)']
data = data.drop(to_drop, axis=1)

In [25]:
data = data.drop('z (Wh/km)', axis=1)

In [26]:
data = data.drop('Tan', axis=1)

In [27]:
data = data.drop('Mp', axis=1)

In [28]:
import numpy as np
from scipy.stats import pearsonr

# Calcul du coefficient de corrélation de Pearson et de la p-value
correlation_coefficient, p_value = pearsonr(data['m (kg)'], data['Mt'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: nan
P-value: nan

In [30]:
correlation_coefficient, p_value = pearsonr(data['m (kg)'], data['Ewltp (g/km)'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: 0.01573468935526814
P-value: 5.078674681167959e-192

In [31]:
correlation_coefficient, p_value = pearsonr(data['Mt'], data['Ewltp (g/km)'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: 0.04879396917528243
P-value: 0.0

In [33]:
correlation_coefficient, p_value = pearsonr(data['At1 (mm)'], data['At2 (mm)'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: 0.963175728736114
P-value: 0.0

In [34]:
correlation_coefficient, p_value = pearsonr(data['At1 (mm)'], data['Ewltp (g/km)'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: 0.14135203953531392
P-value: 0.0

In [35]:
correlation_coefficient, p_value = pearsonr(data['At2 (mm)'], data['Ewltp (g/km)'])

print("Coefficient de corrélation de Pearson:", correlation_coefficient)
print("P-value:", p_value)

Coefficient de corrélation de Pearson: 0.1405639702690893
P-value: 0.0

In [39]:
import pandas as pd
from scipy.stats import chi2_contingency

# Création du tableau de contingence
contingency_table = pd.crosstab(data['Ft'], data['Fm'])

# Test du chi-deux
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 8317857.136824946
P-value : 0.0

In [40]:
contingency_table = pd.crosstab(data['Ft'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 5229750.706044124
P-value : 0.0

In [41]:
contingency_table = pd.crosstab(data['Fm'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 4737290.74189703
P-value : 0.0

In [46]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Création du modèle ANOVA
model = ols('Ft ~ Ewltp (g/km)', data=data).fit()

# Résumé du modèle ANOVA
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

PatsyError: Error evaluating factor: NameError: name 'Ewltp' is not defined
    Ft ~ Ewltp (g/km)
         ^^^^^^^^^^^^

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Création du modèle ANOVA
model = ols('Fm ~ Ewltp (g/km)', data=data).fit()

# Résumé du modèle ANOVA
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

In [47]:
import pandas as pd
from scipy.stats import chi2_contingency

# Création du tableau de contingence
contingency_table = pd.crosstab(data['Ct'], data['Cr'])

# Test du chi-deux
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 3525464.338075409
P-value : 0.0

In [50]:
import statsmodels.api 
result = statsmodels.formula.api.ols('Ewltp (g/km) ~ Ct', data=data).fit()
table = statsmodels.api.stats.anova_lm(result)
display(table)

PatsyError: Error evaluating factor: NameError: name 'Ewltp' is not defined
    Ewltp (g/km) ~ Ct
    ^^^^^^^^^^^^

In [51]:
import statsmodels.api 
result = statsmodels.formula.api.ols('Ewltp (g/km) ~ Cr', data=data).fit()
table = statsmodels.api.stats.anova_lm(result)
display(table)

PatsyError: Error evaluating factor: NameError: name 'Ewltp' is not defined
    Ewltp (g/km) ~ Cr
    ^^^^^^^^^^^^

In [52]:
contingency_table = pd.crosstab(data['Ct'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 1009019.9127604889
P-value : 0.0

In [53]:
contingency_table = pd.crosstab(data['Cr'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 979302.3348195866
P-value : 0.0

In [59]:
import pandas as pd
from scipy.stats import chi2_contingency

# Création du tableau de contingence
contingency_table = pd.crosstab(data['Mk'], data['Mh'])

# Test du chi-deux
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 171108695.57969993
P-value : 0.0

In [60]:
contingency_table = pd.crosstab(data['Mk'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 38820230.53531816
P-value : 0.0

In [61]:
contingency_table = pd.crosstab(data['Mh'], data['Ewltp (g/km)'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("Valeur de chi2 :", chi2)
print("P-value :", p_value)

Valeur de chi2 : 40090668.0306883
P-value : 0.0

In [29]:
to_drop=['m (kg)', 'At2 (mm)', 'Fm']
data = data.drop(to_drop, axis=1)

In [30]:
to_drop=['Cn', 'Cr']
data = data.drop(to_drop, axis=1)

In [31]:
data = data.drop('Mk', axis=1)

In [32]:
data.shape

(3528584, 13)

In [33]:
data.columns

Index(['Country', 'Mh', 'Ct', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'Ft',
       'ec (cm3)', 'ep (KW)', 'IT', 'Erwltp (g/km)', 'Fuel consumption '],
      dtype='object')

In [34]:
data.isna().sum() / len(data)

Country              0.000000e+00
Mh                   0.000000e+00
Ct                   2.833998e-07
Mt                   3.791606e-03
Ewltp (g/km)         1.776067e-03
W (mm)               3.666343e-03
At1 (mm)             3.682497e-03
Ft                   0.000000e+00
ec (cm3)             1.983799e-06
ep (KW)              8.501994e-07
IT                   2.433747e-01
Erwltp (g/km)        2.433741e-01
Fuel consumption     6.448479e-03
dtype: float64

In [34]:
data.isna().sum()

Country                   0
Mp                   150994
Mh                        0
Tan                   14297
Mk                      262
Cn                      131
Ct                        1
Cr                        7
m (kg)                    1
Mt                    13379
Ewltp (g/km)           6267
W (mm)                12937
At1 (mm)              12994
At2 (mm)              17367
Ft                        0
Fm                        0
ec (cm3)                  7
ep (KW)                   3
IT                   858768
Erwltp (g/km)        858766
Fuel consumption      22754
dtype: int64

In [37]:
display(data)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
0,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1076.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
1,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*23,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
2,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*23,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
3,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
4,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1071.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*19,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,940.0,1062.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.0
9479352,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479353,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479354,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479355,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*19,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5

In [35]:
data_2 = data

In [36]:
data_2.shape

(3528584, 13)

In [37]:
#data_2.to_csv("C:\Users\lydia\Documents\Datascientest\Projet fil rouge\data_2.csv")
data_2.to_csv("C:/Users/frobi/OneDrive/Documents/GitHub/dec23_cds_co2/data/processed/data_2.csv")

In [39]:
import os

In [40]:
chemin_documents = os.path.expanduser('C:/Users/frobi/OneDrive/Documents/GitHub/dec23_cds_co2/data/processed/')

In [41]:
chemin_fichier_csv = os.path.join(chemin_documents, 'data_2.csv')

In [42]:
data_2

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
6,FR,RENAULT,M1,1071.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
7,FR,RENAULT,M1,1077.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
8,FR,RENAULT,M1,1075.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
9,FR,RENAULT,M1,1073.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
10,FR,RENAULT,M1,1077.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,MITSUBISHI MOTORS THAILAND,M1,1062.0,113.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.0
9479352,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479353,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479354,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479355,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5

In [49]:
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
Q1 = data_2['m (kg)'].quantile(0.25)
Q3 = data_2['m (kg)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['m (kg)'] < seuil_inf) | (data_2['m (kg)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
60127,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2846.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60128,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2830.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60129,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2832.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60130,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2874.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60131,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2861.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553966,DE,NaN,AA-IVA,NaN,LAMBORGHINI,URUS SPORT,M1,M1,2430.0,NaN,...,NaN,NaN,NaN,petrol,M,3993.0,478.0,NaN,NaN,NaN
8553967,DE,NaN,AA-IVA,NaN,LAMBORGHINI,URUS,M1,M1,2430.0,NaN,...,NaN,NaN,NaN,petrol,M,3993.0,490.0,NaN,NaN,NaN
8553968,DE,NaN,AA-IVA,NaN,LAMBORGHINI,URUS,M1,M1,2430.0,NaN,...,NaN,NaN,NaN,petrol,M,3993.0,490.0,NaN,NaN,NaN
8553969,DE,NaN,AA-IVA,NaN,LAMBORGHINI,URUS,M1,M1,2430.0,NaN,...,NaN,NaN,NaN,petrol,M,3993.0,490.0,NaN,NaN,NaN
8553970,DE,NaN,AA-IVA,NaN,LAMBORGHINI,URUS SPORT,M1,M1,2430.0,NaN,...,NaN,NaN,NaN,petrol,M,3993.0,490.0,NaN,NaN,NaN

In [55]:
Q1 = data_2['Mt'].quantile(0.25)
Q3 = data_2['Mt'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['Mt'] < seuil_inf) | (data_2['Mt'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
60127,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2846.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60128,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2830.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60129,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2832.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60130,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2874.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60131,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2861.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8505404,DE,STELLANTIS,STELLANTIS EUROPE,e3*2001/116*0232*34,FIAT,FIAT DUCATO,M1,M1,2215.0,2536.0,...,3450.0,1790.0,1810.0,diesel,M,2184.0,103.0,e3 29,1.0,8.7
8505406,DE,STELLANTIS,STELLANTIS EUROPE,e3*2001/116*0232*34,FIAT,FIAT DUCATO,M1,M1,2215.0,2536.0,...,3450.0,1790.0,1810.0,diesel,M,2184.0,103.0,e3 29,1.0,8.7
8505409,DE,STELLANTIS,STELLANTIS EUROPE,e3*2001/116*0232*35,FIAT,FIAT DUCATO,M1,M1,2640.0,2895.0,...,3450.0,1790.0,1810.0,diesel,M,2184.0,103.0,e3 29,1.0,9.5
8505411,DE,STELLANTIS,STELLANTIS EUROPE,e3*2001/116*0232*34,FIAT,FIAT DUCATO,M1,M1,2215.0,2536.0,...,3450.0,1790.0,1810.0,diesel,M,2184.0,103.0,e3 29,1.0,8.7
8505414,DE,STELLANTIS,STELLANTIS EUROPE,e3*2007/46*0049*35,FIAT,FIAT DUCATO,M1,M1,2959.0,3191.0,...,4035.0,1810.0,1790.0,diesel,M,2184.0,118.0,NaN,NaN,NaN

In [54]:
Q1 = data_2['Ewltp (g/km)'].quantile(0.25)
Q3 = data_2['Ewltp (g/km)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['Ewltp (g/km)'] < seuil_inf) | (data_2['Ewltp (g/km)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
49000,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*41,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2102.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.5
49001,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2098.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.5
49002,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2118.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
49003,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2103.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
49004,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2137.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479339,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,e1*2007/46*1769*14,MITSUBISHI MOTORS CORPORATION,Mitsubishi Eclipse Cross,M1,M1,1975.0,2159.0,...,2670.0,1540.0,1540.0,petrol/electric,P,2360.0,72.0,NaN,NaN,2.0
9479340,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,e1*2007/46*1769*14,MITSUBISHI MOTORS CORPORATION,Mitsubishi Eclipse Cross,M1,M1,1975.0,2159.0,...,2670.0,1540.0,1540.0,petrol/electric,P,2360.0,72.0,NaN,NaN,2.0
9479341,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,e1*2007/46*1769*14,MITSUBISHI MOTORS CORPORATION,Mitsubishi Eclipse Cross,M1,M1,1975.0,2159.0,...,2670.0,1540.0,1540.0,petrol/electric,P,2360.0,72.0,NaN,NaN,2.0
9479342,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,e1*2007/46*1769*14,MITSUBISHI MOTORS CORPORATION,Mitsubishi Eclipse Cross,M1,M1,1975.0,2159.0,...,2670.0,1540.0,1540.0,petrol/electric,P,2360.0,72.0,NaN,NaN,2.0
9479343,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS CORPORATION,e1*2007/46*1769*14,MITSUBISHI MOTORS CORPORATION,Mitsubishi Eclipse Cross,M1,M1,1975.0,2159.0,...,2670.0,1540.0,1540.0,petrol/electric,P,2360.0,72.0,NaN,NaN,2.0

In [57]:
Q1 = data_2['W (mm)'].quantile(0.25)
Q3 = data_2['W (mm)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['W (mm)'] < seuil_inf) | (data_2['W (mm)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
60126,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 300 D 4MATIC,M1G,M1G,2280.0,2473.0,...,2995.0,1685.0,1732.0,diesel,H,1993.0,200.0,NaN,NaN,7.1
60127,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2846.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60128,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2830.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60129,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2832.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60130,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2874.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553954,DE,NaN,MASERATI,e3*2007/46*0224*26,MASERATI,LEVANTE TROFEO,M1,M1,2245.0,2405.0,...,3004.0,1637.0,1699.0,petrol,M,3798.0,427.0,e3 28,0.83,14.5
8553955,DE,NaN,MASERATI,e3*2007/46*0224*26,MASERATI,LEVANTE TROFEO,M1,M1,2245.0,2405.0,...,3004.0,1637.0,1699.0,petrol,M,3798.0,427.0,e3 28,0.83,14.5
8553956,DE,NaN,MASERATI,e3*2007/46*0224*26,MASERATI,LEVANTE TROFEO,M1,M1,2245.0,2393.0,...,3004.0,1637.0,1699.0,petrol,M,3798.0,427.0,e3 28,0.83,14.5
8553957,DE,VOLKSWAGEN,LAMBORGHINI,e3*2007/46*0616*02,LAMBORGHINI,NaN,M1,M1,2272.0,2525.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN
8553959,DE,NaN,AA-IVA,NaN,NaN,NaN,M1,M1,2272.0,1978.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN

In [59]:
Q1 = data_2['At1 (mm)'].quantile(0.25)
Q3 = data_2['At1 (mm)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['At1 (mm)'] < seuil_inf) | (data_2['At1 (mm)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
49967,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*42,MERCEDES-BENZ,AMG GLC 63 S 4MATIC+,M1,M1,2030.0,2176.0,...,2873.0,1684.0,1667.0,petrol,M,3982.0,375.0,NaN,NaN,12.9
49968,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,AMG GLC 63 S 4MATIC+,M1,M1,2030.0,2159.0,...,2873.0,1684.0,1667.0,petrol,M,3982.0,375.0,NaN,NaN,12.9
60126,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 300 D 4MATIC,M1G,M1G,2280.0,2473.0,...,2995.0,1685.0,1732.0,diesel,H,1993.0,200.0,NaN,NaN,7.1
60127,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2846.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60128,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2830.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552273,DE,NaN,FERRARI,e24*ks07/46*0077*13,FERRARI,MONZA SP1,M1,M1,1685.0,1931.0,...,2720.0,1688.0,1678.0,petrol,M,6496.0,592.0,NaN,NaN,16.1
8552274,DE,NaN,FERRARI,e24*ks07/46*0077*13,FERRARI,MONZA SP2,M1,M1,1706.0,1931.0,...,2720.0,1688.0,1678.0,petrol,M,6496.0,592.0,NaN,NaN,16.1
8552275,DE,NaN,FERRARI,e24*ks07/46*0077*13,FERRARI,MONZA SP1,M1,M1,1685.0,1931.0,...,2720.0,1688.0,1678.0,petrol,M,6496.0,592.0,NaN,NaN,16.1
8553957,DE,VOLKSWAGEN,LAMBORGHINI,e3*2007/46*0616*02,LAMBORGHINI,NaN,M1,M1,2272.0,2525.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN
8553959,DE,NaN,AA-IVA,NaN,NaN,NaN,M1,M1,2272.0,1978.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN

In [60]:
Q1 = data_2['At2 (mm)'].quantile(0.25)
Q3 = data_2['At2 (mm)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['At2 (mm)'] < seuil_inf) | (data_2['At2 (mm)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
60126,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 300 D 4MATIC,M1G,M1G,2280.0,2473.0,...,2995.0,1685.0,1732.0,diesel,H,1993.0,200.0,NaN,NaN,7.1
60127,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2846.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
60128,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2830.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60129,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1,M1,2655.0,2832.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.8
60130,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,GLE 350 DE 4MATIC,M1G,M1G,2655.0,2874.0,...,2995.0,1685.0,1732.0,diesel/electric,P,1950.0,143.0,NaN,NaN,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8526819,DE,STELLANTIS,STELLANTIS EUROPE,e3*2007/46*0064*64,FIAT,FIAT 500,M1,M1,1064.0,1133.0,...,2300.0,1413.0,1407.0,petrol,H,999.0,52.0,e3 33,1.28,4.7
8526820,DE,STELLANTIS,STELLANTIS EUROPE,e3*2007/46*0064*64,FIAT,FIAT 500,M1,M1,1064.0,1127.0,...,2300.0,1413.0,1407.0,petrol,H,999.0,52.0,e3 33,1.28,4.7
8527524,DE,STELLANTIS,STELLANTIS EUROPE,e3*2007/46*0064*64,FIAT,FIAT 500,M1,M1,1064.0,1138.0,...,2300.0,1413.0,1407.0,petrol,H,999.0,52.0,e3 33,1.28,4.7
8553957,DE,VOLKSWAGEN,LAMBORGHINI,e3*2007/46*0616*02,LAMBORGHINI,NaN,M1,M1,2272.0,2525.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN
8553959,DE,NaN,AA-IVA,NaN,NaN,NaN,M1,M1,2272.0,1978.0,...,3003.0,1695.0,1710.0,petrol,M,3996.0,478.0,NaN,NaN,NaN

In [61]:
Q1 = data_2['ec (cm3)'].quantile(0.25)
Q3 = data_2['ec (cm3)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['ec (cm3)'] < seuil_inf) | (data_2['ec (cm3)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
49967,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*42,MERCEDES-BENZ,AMG GLC 63 S 4MATIC+,M1,M1,2030.0,2176.0,...,2873.0,1684.0,1667.0,petrol,M,3982.0,375.0,NaN,NaN,12.9
49968,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,AMG GLC 63 S 4MATIC+,M1,M1,2030.0,2159.0,...,2873.0,1684.0,1667.0,petrol,M,3982.0,375.0,NaN,NaN,12.9
60137,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,AMG GLE 63 S 4MATIC+,M1G,M1G,2420.0,2672.0,...,2995.0,1691.0,1726.0,petrol,H,3982.0,450.0,NaN,NaN,12.5
60163,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,AMG GLE 63 S 4MATIC+COUPE,M1G,M1G,2445.0,2659.0,...,2935.0,1691.0,1726.0,petrol,H,3982.0,450.0,NaN,NaN,12.4
60164,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2007/46*1885*17,MERCEDES-BENZ,AMG GLE 63 S 4MATIC+COUPE,M1G,M1G,2445.0,2615.0,...,2935.0,1691.0,1726.0,petrol,H,3982.0,450.0,NaN,NaN,12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8558961,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558962,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558963,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558964,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558965,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0

In [62]:
Q1 = data_2['ep (KW)'].quantile(0.25)
Q3 = data_2['ep (KW)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['ep (KW)'] < seuil_inf) | (data_2['ep (KW)'] > seuil_sup)]
display(outliers)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
49000,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*41,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2102.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.5
49001,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2098.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.5
49002,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2118.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
49003,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2103.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
49004,FR,MERCEDES-BENZ,MERCEDES-BENZ AG,E1*2001/116*0480*43,MERCEDES-BENZ,GLC 400 D 4MATIC,M1,M1,1935.0,2137.0,...,2873.0,1618.0,1652.0,diesel,M,2925.0,243.0,e1 29,1.1,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8558961,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558962,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558963,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558964,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0
8558965,DE,NaN,FERRARI,e3*2007/46*0040*24,FERRARI,F8 SPIDER,M1,M1,1675.0,1782.0,...,2650.0,1677.0,1646.0,petrol,M,3902.0,530.0,NaN,NaN,13.0

In [63]:
Q1 = data_2['Erwltp (g/km)'].quantile(0.25)
Q3 = data_2['Erwltp (g/km)'].quantile(0.75)
IQR = Q3 - Q1
seuil_inf = Q1 - 1.5 * IQR
seuil_sup = Q3 + 1.5 * IQR
outliers = data_2[(data_2['Erwltp (g/km)'] < seuil_inf) | (data_2['Erwltp (g/km)'] > seuil_sup)]
display(outliers)

Empty DataFrame
Columns: [Country, Mp, Mh, Tan, Mk, Cn, Ct, Cr, m (kg), Mt, Ewltp (g/km), W (mm), At1 (mm), At2 (mm), Ft, Fm, ec (cm3), ep (KW), IT, Erwltp (g/km), Fuel consumption ]
Index: []

[0 rows x 21 columns]

In [43]:
data_2['Erwltp (g/km)'] = data_2['Erwltp (g/km)'].fillna(data_2['Erwltp (g/km)'].mean())

In [77]:
data_2['Erwltp (g/km)'].isna().sum()

0

In [44]:
data_2['Erwltp (g/km)'].mean()

1.5309319361844131

In [13]:
data.isna().sum()

Country                   0
Mp                   150994
Mh                        0
Tan                   14297
Mk                      262
Cn                      131
Ct                        1
Cr                        7
m (kg)                    1
Mt                    13379
Ewltp (g/km)           6267
W (mm)                12937
At1 (mm)              12994
At2 (mm)              17367
Ft                        0
Fm                        0
ec (cm3)                  7
ep (KW)                   3
IT                   858768
Erwltp (g/km)             0
Fuel consumption      22754
dtype: int64

In [44]:
median_colonne = data_2['m (kg)'].median()
data_2['m (kg)'].fillna(median_colonne, inplace=True)

KeyError: 'm (kg)'

In [45]:
median_colonne = data_2['Mt'].median()
data_2['Mt'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\3149131678.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Mt'].fillna(median_colonne, inplace=True)

In [46]:
median_colonne = data_2['Ewltp (g/km)'].median()
data_2['Ewltp (g/km)'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\2637062434.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Ewltp (g/km)'].fillna(median_colonne, inplace=True)

In [47]:
median_colonne = data_2['W (mm)'].median()
data_2['W (mm)'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\4169331954.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['W (mm)'].fillna(median_colonne, inplace=True)

In [48]:
median_colonne = data_2['At1 (mm)'].median()
data_2['At1 (mm)'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\2637535900.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['At1 (mm)'].fillna(median_colonne, inplace=True)

In [49]:
median_colonne = data_2['At2 (mm)'].median()
data_2['At2 (mm)'].fillna(median_colonne, inplace=True)

KeyError: 'At2 (mm)'

In [50]:
median_colonne = data_2['ec (cm3)'].median()
data_2['ec (cm3)'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\2742650656.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['ec (cm3)'].fillna(median_colonne, inplace=True)

In [51]:
median_colonne = data_2['ep (KW)'].median()
data_2['ep (KW)'].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\423395109.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['ep (KW)'].fillna(median_colonne, inplace=True)

In [52]:
median_colonne = data_2['Fuel consumption '].median()
data_2['Fuel consumption '].fillna(median_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\560738483.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Fuel consumption '].fillna(median_colonne, inplace=True)

In [53]:
data_2.isna().sum()

Country                   0
Mh                        0
Ct                        1
Mt                        0
Ewltp (g/km)              0
W (mm)                    0
At1 (mm)                  0
Ft                        0
ec (cm3)                  0
ep (KW)                   0
IT                   858768
Erwltp (g/km)             0
Fuel consumption          0
dtype: int64

In [54]:
mode_colonne = data_2['Mk'].mode()[0] 
data_2['Mk'].fillna(mode_colonne, inplace=True)

KeyError: 'Mk'

In [55]:
mode_colonne = data_2['Cn'].mode()[0] 
data_2['Cn'].fillna(mode_colonne, inplace=True)

KeyError: 'Cn'

In [56]:
mode_colonne = data_2['Ct'].mode()[0] 
data_2['Ct'].fillna(mode_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\1276690101.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Ct'].fillna(mode_colonne, inplace=True)

In [57]:
mode_colonne = data_2['Cr'].mode()[0] 
data_2['Cr'].fillna(mode_colonne, inplace=True)

KeyError: 'Cr'

In [58]:
mode_colonne = data_2['IT'].mode()[0] 
data_2['IT'].fillna(mode_colonne, inplace=True)

C:\Users\frobi\AppData\Local\Temp\ipykernel_33268\1080102662.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['IT'].fillna(mode_colonne, inplace=True)

In [59]:
data.isna().sum()

Country              0
Mh                   0
Ct                   0
Mt                   0
Ewltp (g/km)         0
W (mm)               0
At1 (mm)             0
Ft                   0
ec (cm3)             0
ep (KW)              0
IT                   0
Erwltp (g/km)        0
Fuel consumption     0
dtype: int64

In [60]:
data_2.isna().sum()

Country              0
Mh                   0
Ct                   0
Mt                   0
Ewltp (g/km)         0
W (mm)               0
At1 (mm)             0
Ft                   0
ec (cm3)             0
ep (KW)              0
IT                   0
Erwltp (g/km)        0
Fuel consumption     0
dtype: int64

In [61]:
display(data_2)

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
6,FR,RENAULT,M1,1071.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
7,FR,RENAULT,M1,1077.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
8,FR,RENAULT,M1,1075.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
9,FR,RENAULT,M1,1073.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
10,FR,RENAULT,M1,1077.0,117.0,2492.0,1455.0,petrol,999.0,48.0,e9 29,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,MITSUBISHI MOTORS THAILAND,M1,1062.0,113.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.0
9479352,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479353,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479354,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5
9479355,DE,MITSUBISHI MOTORS THAILAND,M1,1091.0,125.0,2450.0,1430.0,petrol,1193.0,52.0,e1 29,0.78,5.5

In [37]:
data_2['Country'].value_counts()

Country
DE    2100267
FR    1428317
Name: count, dtype: int64

In [38]:
data_2['Mh'].value_counts()

Mh
VOLKSWAGEN              492019
STELLANTIS AUTO         356037
RENAULT                 319626
BMW AG                  270357
MERCEDES-BENZ AG        256294
                         ...
UNKNOWN                      4
DR AUTOMOBILES               4
BUGATTI                      2
FORD MOTOR AUSTRALIA         1
HENAN SUDA                   1
Name: count, Length: 70, dtype: int64

In [39]:
data_2['Mk'].value_counts()

Mk
VOLKSWAGEN. VW              405503
RENAULT                     267912
PEUGEOT                     267651
MERCEDES-BENZ               257912
BMW                         230120
                             ...
MERCEDES BENZQ                   1
XINGYUE                          1
SUDA                             1
GREAT WALL MOTOR COMPANY         1
LISTERBELL                       1
Name: count, Length: 128, dtype: int64

In [40]:
data_2['Cn'].value_counts()

Cn
GOLF                90807
SANDERO             85952
T-ROC               76701
C3                  76698
TIGUAN              71817
                    ...
NX4                     1
X5 XDRIVE 25D           1
AUDI A3 40 TFSIE        1
TIPO                    1
CITROEN                 1
Name: count, Length: 1727, dtype: int64

In [41]:
data_2['Ct'].value_counts()

Ct
M1     3354938
M1G     173622
N1          22
N1G          2
Name: count, dtype: int64

In [42]:
data_2['Cr'].value_counts()

Cr
M1     3355082
M1G     173502
Name: count, dtype: int64

In [43]:
data_2['Ft'].value_counts()

Ft
petrol             2085499
diesel              853226
petrol/electric     466885
lpg                  61883
e85                  35908
diesel/electric      23209
ng                    1974
Name: count, dtype: int64

In [44]:
data_2['IT'].value_counts()

IT
e2 28 29      1208755
e1 29          263099
e9 29 37       227724
e13 29         157252
e2 29 37       154764
               ...
e13 29  37          4
e3  29              2
e13 32  37          2
e8 29 28            1
e13  37             1
Name: count, Length: 93, dtype: int64

In [116]:
data_2['Mp'].unique()

array(['RENAULT-NISSAN-MITSUBISHI', 'MERCEDES-BENZ', 'VOLKSWAGEN', nan,
       'BMW', 'STELLANTIS', 'MAZDA-SUBARU-SUZUKI-TOYOTA', 'KIA', 'FORD',
       'HYUNDAI MOTOR EUROPE', 'TESLA-HONDA-JLR'], dtype=object)

In [117]:
data_2['Mh'].unique()

array(['RENAULT', 'MERCEDES-BENZ AG', 'AUDI AG', 'ALPINA', 'DUPLICATE',
       'SEAT', 'AA-IVA', 'BMW AG', 'UNKNOWN', 'VOLKSWAGEN',
       'AUTOMOBILES PEUGEOT', 'STELLANTIS AUTO', 'OUT OF SCOPE', 'DACIA',
       'SKODA', 'AUDI HUNGARIA', 'MAGYAR SUZUKI', 'KIA SLOVAKIA',
       'CHRYSLER', 'MAZDA', 'TOYOTA', 'DONKERVOORT',
       'AUTOMOBILES CITROEN', 'MERCEDES AMG', 'PORSCHE', 'AUDI SPORT',
       'FORD WERKE GMBH', 'RENAULT TRUCKS', 'ALPINE', 'SECMA',
       'NISSAN AUTOMOTIVE EUROPE', 'OPEL AUTOMOBILE', 'BUGATTI',
       'HYUNDAI ASSAN', 'MORGAN', 'HENAN SUDA',
       'JAGUAR LAND ROVER LIMITED', 'MCLAREN', 'ROLLS-ROYCE', 'BENTLEY',
       'LOTUS', 'ASTON MARTIN', 'CATERHAM', 'HONDA MOTOR CO',
       'SUZUKI MOTOR CORPORATION', 'TOYOTA MOTOR CORPORATION',
       'SAIC MOTOR CORPORATION', 'VOLVO', 'DFSK',
       'MITSUBISHI MOTORS THAILAND', 'KIA', 'HYUNDAI',
       'FORD MOTOR AUSTRALIA', 'FORD MOTOR COMPANY', 'SUBARU',
       'GENERAL MOTORS HOLDINGS', 'MAZDA EUROPE',
       'MITSUBISHI MOTORS CORPORATION', 'HYUNDAI CZECH', 'KG MOBILITY',
       'GEELY', 'GREAT WALL MOTOR', 'BMW GMBH', 'STELLANTIS EUROPE',
       'FERRARI', 'LAMBORGHINI', 'MASERATI', 'DR AUTOMOBILES', 'DALLARA',
       'ALFA ROMEO'], dtype=object)

In [30]:
data_2['Mk'].unique()

array(['RENAULT', 'DACIA', 'MERCEDES-BENZ', 'AUDI', 'MERCEDES BENZ',
       'ALPINA', 'SEAT', 'BMW', 'BMW M', 'VOLKSWAGEN. VW', 'KLASSEN',
       'AUDI AG', 'CUPRA', 'OPEL', 'PEUGEOT', 'FIAT', 'MERCEDES-AMG',
       'MERCEDES AMG', 'MERCEDES BENZQ', 'SKODA', 'SUZUKI', 'KIA', 'JEEP',
       'MAZDA', 'HONDA', 'HYUNDAI', 'TOYOTA', 'VOLKSWAGEN', 'DONKERVOORT',
       'CITROEN', 'CASELANI', 'MINI', 'PORSCHE', 'AUDI SPORT', 'FORD',
       'INEOS AUTOMOTIVE GMBH', 'BUSCONCEPT', 'RENAULT SPORT',
       'FORD-CNG-TECHNIK', 'RANDGER', 'ALPINE', 'SECMA', 'NISSAN',
       'DS AUTOMOBILES', 'DS', 'BUGATTI', 'TATA', 'MORGAN', 'SUDA',
       'WESTFIELD(GB)', 'JAGUAR', 'LAND ROVER', 'MCLAREN', 'ROLLS-ROYCE',
       'BENTLEY', 'LOTUS', 'ASTON MARTIN', 'CATERHAM CARS LTD',
       'CATERHAM CARS LTD.', 'INFINITI', 'MG. ROEWE', 'VOLVO',
       'DFSK. SERES. SOKON', 'DFSK. SOKON', 'DFSK', 'DXK6470AS2F',
       'MITSUBISHI MOTORS (THAILAND)', 'ISUZU', 'MITSUBISHI', 'SAIC MG',
       'HYUNDAI MOTORSPORT', 'LEXUS', 'CHEVROLET', 'HYUNDAI MOTOR',
       'HYUNDAI MOTOR COMPANY', 'DODGE', 'FCA', 'SUBARU', 'RAM', 'GMC',
       'CADILLAC', 'CHRYSLER', 'HONDA MOTOR', 'GENESIS',
       'HYUNDAI. GENESIS', 'SSANGYONG', 'LYNK&CO', 'XINGYUE',
       'LISTERBELL', 'BMW BRILLIANCE (RC)', 'FAW', 'JETTA',
       'GREAT WALL MOTOR COMPANY', 'WEY', 'TANK',
       'GREAT WALL MOTOR COMPANY LIMITED', 'BAIC', 'POLESTAR', 'FERRARI',
       'LAMBORGHINI', 'MASERATI', 'DR', 'DALLARA', 'ALFA ROMEO',
       'MC LAREN', 'CATERHAM', 'MG', 'FORD DEH', 'BRABUS AUTOMOTIVE',
       'APOLLO', 'VOLKSWAGEN MOTORSPORT', 'RUF', 'BOLDMEN', 'LETECH',
       'DALARA', 'PAGANI', 'BRONTO', 'LADA', 'INVEST-AUTO', 'AVTOVAZ',
       'WAS', 'UAZ', 'APAL', 'IVECO', 'ITINEO', 'DR AUTOMOBILES S.R.L.',
       'MITSUBISHI MOTORS CORPORATION', 'MITSUBISHI MOTORS (THAILAND) C'],
      dtype=object)

In [56]:
data_2.loc[data_2['Mk'] == 'RENAULT', 'Mh'].fillna('RENAULT', inplace=True)

In [57]:
data_2.loc[data_2['Mk'] == 'RENAULT SPORT', 'Mh'].fillna('RENAULT', inplace=True)

In [58]:
data_2.loc[data_2['Mk'] == 'NISSAN', 'Mh'].fillna('RENAULT', inplace=True)

In [59]:
data_2.loc[data_2['Mk'] == 'MITSUBISHI MOTORS (THAILAND)', 'Mh'].fillna('RENAULT', inplace=True)

In [60]:
data_2.loc[data_2['Mk'] == 'MITSUBISHI', 'Mh'].fillna('RENAULT', inplace=True)

In [61]:
data_2.loc[data_2['Mk'] == 'MITSUBISHI MOTORS CORPORATION', 'Mh'].fillna('RENAULT', inplace=True)

In [62]:
data_2.loc[data_2['Mk'] == 'MITSUBISHI MOTORS (THAILAND) C', 'Mh'].fillna('RENAULT', inplace=True)

In [68]:
data_2.loc[data_2['Mk'] == 'MERCEDES-BENZ', 'Mh'].fillna('MERCEDES-BENZ AG', inplace=True)

In [67]:
data_2.loc[data_2['Mk'] == 'MERCEDES BENZ', 'Mh'].fillna('MERCEDES-BENZ AG', inplace=True)

In [66]:
data_2.loc[data_2['Mk'] == 'MERCEDES-AMG', 'Mh'].fillna('MERCEDES-BENZ AG', inplace=True)

In [65]:
data_2.loc[data_2['Mk'] == 'MERCEDES AMG', 'Mh'].fillna('MERCEDES-BENZ AG', inplace=True)

In [64]:
data_2.loc[data_2['Mk'] == 'MERCEDES BENZQ', 'Mh'].fillna('MERCEDES-BENZ AG', inplace=True)

In [52]:
data_2.loc[data_2['Mk'] == 'BMW', 'Mp'].fillna('BMW', inplace=True)

In [53]:
data_2.loc[data_2['Mk'] == 'BMW M', 'Mp'].fillna('BMW', inplace=True)

In [54]:
data_2.loc[data_2['Mk'] == 'BMW BRILLIANCE (RC)', 'Mp'].fillna('BMW', inplace=True)

In [70]:
data_2.loc[data_2['Mk'] == 'AUDI', 'Mp'].fillna('AUDI', inplace=True)

In [40]:
data_2.loc[data_2['Mh'] == 'VOLKSWAGEN', 'Mp'].fillna('VOLKSWAGEN', inplace=True)

In [41]:
data_2.loc[data_2['Mh'] == 'STELLANTIS AUTO', 'Mp'].fillna('STELLANTIS', inplace=True)

In [42]:
data_2.loc[data_2['Mh'] == 'STELLANTIS EUROPE', 'Mp'].fillna('STELLANTIS', inplace=True)

In [43]:
data_2.loc[data_2['Mh'] == 'MAGYAR SUZUKI', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [44]:
data_2.loc[data_2['Mh'] == 'MAZDA', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [45]:
data_2.loc[data_2['Mh'] == 'TOYOTA', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [46]:
data_2.loc[data_2['Mh'] == 'SUZUKI MOTOR CORPORATION', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [47]:
data_2.loc[data_2['Mh'] == 'MAZDA EUROPE', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [48]:
data_2.loc[data_2['Mh'] == 'MAZDA EUROPE', 'Mp'].fillna('MAZDA-SUBARU-SUZUKI-TOYOTA', inplace=True)

In [49]:
data_2.loc[data_2['Mh'] == 'KIA SLOVAKIA', 'Mp'].fillna('KIA', inplace=True)

In [50]:
data_2.loc[data_2['Mh'] == 'KIA', 'Mp'].fillna('KIA', inplace=True)

In [51]:
data_2.loc[data_2['Mh'] == 'FORD WERKE GMBH', 'Mp'].fillna('FORD', inplace=True)

In [52]:
data_2.loc[data_2['Mh'] == 'FORD MOTOR AUSTRALIA', 'Mp'].fillna('FORD', inplace=True)

In [53]:
data_2.loc[data_2['Mh'] == 'FORD MOTOR COMPANY', 'Mp'].fillna('FORD', inplace=True)

In [54]:
data_2.loc[data_2['Mh'] == 'HYUNDAI ASSAN', 'Mp'].fillna('HYUNDAI MOTOR EUROPE', inplace=True)

In [55]:
data_2.loc[data_2['Mh'] == 'HYUNDAI', 'Mp'].fillna('HYUNDAI MOTOR EUROPE', inplace=True)

In [56]:
data_2.loc[data_2['Mh'] == 'HYUNDAI CZECH', 'Mp'].fillna('HYUNDAI MOTOR EUROPE', inplace=True)

In [57]:
data_2.loc[data_2['Mh'] == 'HONDA MOTOR CO', 'Mp'].fillna('TESLA-HONDA-JLR', inplace=True)

In [71]:
data.isna().sum()

Country                   0
Mp                   150994
Mh                        0
Tan                       0
Mk                        0
Cn                        0
Ct                        0
Cr                        0
m (kg)                    0
Mt                        0
Ewltp (g/km)              0
W (mm)                    0
At1 (mm)                  0
At2 (mm)                  0
Ft                        0
Fm                        0
ec (cm3)                  0
ep (KW)                   0
IT                        0
Erwltp (g/km)             0
Fuel consumption          0
dtype: int64

In [62]:
data_2.shape

(3528584, 13)

In [ ]:
data_2_cat = data_2.drop(['r', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'ec (cm3)', 'ep (KW)',
                           'Erwltp (g/km)', 'Fuel consumption '], axis=1)
data_2_quant = data_2[['r', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'ec (cm3)', 'ep (KW)',
                      'Erwltp (g/km)', 'Fuel consumption ']]

In [66]:
display(data_2)

,Country,Mp,Mh,Tan,Mk,Cn,Ct,Cr,m (kg),Mt,...,W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
0,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1076.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
1,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*23,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
2,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*23,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
3,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1077.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
4,FR,RENAULT-NISSAN-MITSUBISHI,RENAULT,e2*2007/46*0457*22,RENAULT,TWINGO,M1,M1,993.0,1071.0,...,2492.0,1455.0,1445.0,petrol,M,999.0,48.0,e9 29,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*19,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,940.0,1062.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.0
9479352,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479353,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479354,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*17,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5
9479355,DE,RENAULT-NISSAN-MITSUBISHI,MITSUBISHI MOTORS THAILAND,e1*2007/46*0951*19,MITSUBISHI MOTORS (THAILAND) C,Mitsubishi Space Star,M1,M1,985.0,1091.0,...,2450.0,1430.0,1415.0,petrol,M,1193.0,52.0,e1 29,0.78,5.5

In [64]:
from sklearn.impute import KNNImputer
KNNi = KNNImputer(n_neighbors=2)
KNNi.fit_transform(data_2)

ValueError: could not convert string to float: 'FR'

In [65]:
df_Categorielle = df.drop(['r', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'ec (cm3)', 'ep (KW)',
                           'Erwltp (g/km)', 'Fuel consumption '], axis=1)
df_quantitative = df[['r', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'ec (cm3)', 'ep (KW)',
                      'Erwltp (g/km)', 'Fuel consumption ']]

NameError: name 'df' is not defined

In [70]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_2['Ft'] = le.fit_transform(data_2['Ft'])

In [72]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_2['Mh'] = le.fit_transform(data_2['Mh'])

In [74]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_2['IT'] = le.fit_transform(data_2['IT'])

In [84]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Création de l'encodeur OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Ajustement et transformation des données
encoded_data = encoder.fit_transform(data_2[['Ct']])

# Création d'un DataFrame pour les données encodées
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Ct']))

# Concaténation du DataFrame encodé avec le DataFrame original
data_2_encoded = pd.concat([data_2.reset_index(drop=True), encoded_df], axis=1)

# Affichage des résultats
print("DataFrame original :")
display(data_2)
print("\nDataFrame encodé :")
display(data_2_encoded)

C:\Users\lydia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

DataFrame original :

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
0,FR,54,M1,1076.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
1,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
2,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
3,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
4,FR,54,M1,1071.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,48,M1,1062.0,113.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.0
9479352,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479353,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479354,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479355,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5

DataFrame encodé :

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption,Ct_M1,Ct_M1G,Ct_N1,Ct_N1G
0,FR,54,M1,1076.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0
1,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0
2,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0
3,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0
4,FR,54,M1,1071.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528579,DE,48,M1,1062.0,113.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.0,1.0,0.0,0.0,0.0
3528580,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0
3528581,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0
3528582,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0
3528583,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0

In [85]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Création de l'encodeur OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Ajustement et transformation des données
encoded_data = encoder.fit_transform(data_2[['Country']])

# Création d'un DataFrame pour les données encodées
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Country']))

# Concaténation du DataFrame encodé avec le DataFrame original
data_2_2_encoded = pd.concat([data_2.reset_index(drop=True), encoded_df], axis=1)

# Affichage des résultats
print("DataFrame original :")
display(data_2)
print("\nDataFrame encodé :")
display(data_2_2_encoded)

C:\Users\lydia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

DataFrame original :

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption
0,FR,54,M1,1076.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
1,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
2,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
3,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
4,FR,54,M1,1071.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479351,DE,48,M1,1062.0,113.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.0
9479352,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479353,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479354,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5
9479355,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5

DataFrame encodé :

,Country,Mh,Ct,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption,Country_DE,Country_FR
0,FR,54,M1,1076.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,0.0,1.0
1,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,0.0,1.0
2,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,0.0,1.0
3,FR,54,M1,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,0.0,1.0
4,FR,54,M1,1071.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528579,DE,48,M1,1062.0,113.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.0,1.0,0.0
3528580,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0
3528581,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0
3528582,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0
3528583,DE,48,M1,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0

In [90]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Création de l'encodeur OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Ajustement et transformation des données pour la variable 'Ct'
encoded_data_ct = encoder.fit_transform(data_2[['Ct']])
encoded_df_ct = pd.DataFrame(encoded_data_ct, columns=encoder.get_feature_names_out(['Ct']))

# Ajustement et transformation des données pour la variable 'Country'
encoded_data_country = encoder.fit_transform(data_2[['Country']])
encoded_df_country = pd.DataFrame(encoded_data_country, columns=encoder.get_feature_names_out(['Country']))

# Concaténation des DataFrames encodés
data_2_encoded = pd.concat([data_2.reset_index(drop=True), encoded_df_ct, encoded_df_country], axis=1)

# Affichage des résultats
print("DataFrame original :")
print(data_2)
print("\nDataFrame encodé :")
print(data_2_encoded)

C:\Users\lydia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\lydia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

DataFrame original :
        Country  Mh  Ct      Mt  Ewltp (g/km)  W (mm)  At1 (mm)  Ft  ec (cm3)  \
0            FR  54  M1  1076.0         117.0  2492.0    1455.0   5     999.0
1            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
2            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
3            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
4            FR  54  M1  1071.0         117.0  2492.0    1455.0   5     999.0
...         ...  ..  ..     ...           ...     ...       ...  ..       ...
9479351      DE  48  M1  1062.0         113.0  2450.0    1430.0   5    1193.0
9479352      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
9479353      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
9479354      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
9479355      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0

         ep (KW)  IT  Erwltp (g/km)  Fuel consumption
0           48.0  83           1.09                5.2
1           48.0  83           1.09                5.2
2           48.0  83           1.09                5.2
3           48.0  83           1.09                5.2
4           48.0  83           1.09                5.2
...          ...  ..            ...                ...
9479351     52.0   2           0.78                5.0
9479352     52.0   2           0.78                5.5
9479353     52.0   2           0.78                5.5
9479354     52.0   2           0.78                5.5
9479355     52.0   2           0.78                5.5

[3528584 rows x 13 columns]

DataFrame encodé :
        Country  Mh  Ct      Mt  Ewltp (g/km)  W (mm)  At1 (mm)  Ft  ec (cm3)  \
0            FR  54  M1  1076.0         117.0  2492.0    1455.0   5     999.0
1            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
2            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
3            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
4            FR  54  M1  1071.0         117.0  2492.0    1455.0   5     999.0
...         ...  ..  ..     ...           ...     ...       ...  ..       ...
3528579      DE  48  M1  1062.0         113.0  2450.0    1430.0   5    1193.0
3528580      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
3528581      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
3528582      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0
3528583      DE  48  M1  1091.0         125.0  2450.0    1430.0   5    1193.0

         ep (KW)  IT  Erwltp (g/km)  Fuel consumption   Ct_M1  Ct_M1G  Ct_N1  \
0           48.0  83           1.09                5.2    1.0     0.0    0.0
1           48.0  83           1.09                5.2    1.0     0.0    0.0
2           48.0  83           1.09                5.2    1.0     0.0    0.0
3           48.0  83           1.09                5.2    1.0     0.0    0.0
4           48.0  83           1.09                5.2    1.0     0.0    0.0
...          ...  ..            ...                ...    ...     ...    ...
3528579     52.0   2           0.78                5.0    1.0     0.0    0.0
3528580     52.0   2           0.78                5.5    1.0     0.0    0.0
3528581     52.0   2           0.78                5.5    1.0     0.0    0.0
3528582     52.0   2           0.78                5.5    1.0     0.0    0.0
3528583     52.0   2           0.78                5.5    1.0     0.0    0.0

         Ct_N1G  Country_DE  Country_FR
0           0.0         0.0         1.0
1           0.0         0.0         1.0
2           0.0         0.0         1.0
3           0.0         0.0         1.0
4           0.0         0.0         1.0
...         ...         ...         ...
3528579     0.0         1.0         0.0
3528580     0.0         1.0         0.0
3528581     0.0         1.0         0.0
3528582     0.0         1.0         0.0
3528583     0.0         1.0         0.0

[3528584 rows x 19 columns]

In [80]:
data_2.shape

(3528584, 13)

In [91]:
data_2_encoded.shape

(3528584, 19)

In [92]:
# Suppression des doublons
data_2_encoded_unique = data_2_encoded.drop_duplicates()

# Affichage du DataFrame sans doublons
print("DataFrame sans doublons :")
print(data_2_encoded_unique)

DataFrame sans doublons :
        Country  Mh  Ct      Mt  Ewltp (g/km)  W (mm)  At1 (mm)  Ft  ec (cm3)  \
0            FR  54  M1  1076.0         117.0  2492.0    1455.0   5     999.0
1            FR  54  M1  1077.0         117.0  2492.0    1455.0   5     999.0
4            FR  54  M1  1071.0         117.0  2492.0    1455.0   5     999.0
7            FR  54  M1  1080.0         117.0  2492.0    1455.0   5     999.0
13           FR  54  M1  1073.0         117.0  2492.0    1455.0   5     999.0
...         ...  ..  ..     ...           ...     ...       ...  ..       ...
3528118      DE  62  M1  1608.0         132.0  2570.0    1545.0   0    1598.0
3528119      DE  62  M1  1644.0         132.0  2570.0    1545.0   0    1598.0
3528120      DE  22  M1  1877.0         256.0  2670.0    1633.0   5    3855.0
3528271      DE  22  M1  1846.0         385.0  2720.0    1672.0   5    6496.0
3528314      DE  22  M1  1931.0         366.0  2720.0    1672.0   5    6496.0

         ep (KW)  IT  Erwltp (g/km)  Fuel consumption   Ct_M1  Ct_M1G  Ct_N1  \
0           48.0  83       1.090000                5.2    1.0     0.0    0.0
1           48.0  83       1.090000                5.2    1.0     0.0    0.0
4           48.0  83       1.090000                5.2    1.0     0.0    0.0
7           48.0  83       1.090000                5.2    1.0     0.0    0.0
13          48.0  83       1.090000                5.2    1.0     0.0    0.0
...          ...  ..            ...                ...    ...     ...    ...
3528118     96.0  43       0.760000                5.0    1.0     0.0    0.0
3528119     96.0  43       0.740000                5.0    1.0     0.0    0.0
3528120    456.0  25       1.530932               11.3    1.0     0.0    0.0
3528271    607.0  25       1.530932               16.9    1.0     0.0    0.0
3528314    585.0  25       1.530932               16.1    1.0     0.0    0.0

         Ct_N1G  Country_DE  Country_FR
0           0.0         0.0         1.0
1           0.0         0.0         1.0
4           0.0         0.0         1.0
7           0.0         0.0         1.0
13          0.0         0.0         1.0
...         ...         ...         ...
3528118     0.0         1.0         0.0
3528119     0.0         1.0         0.0
3528120     0.0         1.0         0.0
3528271     0.0         1.0         0.0
3528314     0.0         1.0         0.0

[457140 rows x 19 columns]

In [93]:
data_2_encoded_unique.shape

(457140, 19)

In [95]:
to_drop=['Country', 'Ct']
data_2_encoded = data_2_encoded.drop(to_drop, axis=1)

In [96]:
display(data_2_encoded)

,Mh,Mt,Ewltp (g/km),W (mm),At1 (mm),Ft,ec (cm3),ep (KW),IT,Erwltp (g/km),Fuel consumption,Ct_M1,Ct_M1G,Ct_N1,Ct_N1G,Country_DE,Country_FR
0,54,1076.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0,0.0,1.0
1,54,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0,0.0,1.0
2,54,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0,0.0,1.0
3,54,1077.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0,0.0,1.0
4,54,1071.0,117.0,2492.0,1455.0,5,999.0,48.0,83,1.09,5.2,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528579,48,1062.0,113.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.0,1.0,0.0,0.0,0.0,1.0,0.0
3528580,48,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0,1.0,0.0
3528581,48,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0,1.0,0.0
3528582,48,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0,1.0,0.0
3528583,48,1091.0,125.0,2450.0,1430.0,5,1193.0,52.0,2,0.78,5.5,1.0,0.0,0.0,0.0,1.0,0.0

In [97]:
target = data_2_encoded['Ewltp (g/km)']
feats = data_2_encoded.drop('Ewltp (g/km)', axis=1)

In [101]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feats, target, test_size=0.20)

In [99]:
data_2_encoded.columns

Index(['Mh', 'Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'Ft', 'ec (cm3)',
       'ep (KW)', 'IT', 'Erwltp (g/km)', 'Fuel consumption ', 'Ct_M1',
       'Ct_M1G', 'Ct_N1', 'Ct_N1G', 'Country_DE', 'Country_FR'],
      dtype='object')

In [110]:
from sklearn.preprocessing import StandardScaler
cols_num = ['Mt', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'ec (cm3)', 'ep (KW)', 'Erwltp (g/km)', 'Fuel consumption ']

sc = StandardScaler()
X_train[cols_num] = sc.fit_transform(X_train[cols_num])
X_test[cols_num] = sc.transform(X_test[cols_num])

KeyError: "['Ewltp (g/km)'] not in index"

In [105]:
data_3 = data_2_encoded

In [109]:
import os
chemin_documents = os.path.expanduser('C:/Users/lydia/Documents/Datascientest/Projet fil rouge/CSV_files')
chemin_fichier_csv = os.path.join(chemin_documents, 'data_3.csv')
data_3.to_csv(chemin_fichier_csv, index=False)